body{
  background-color: black;
box-sizing: border-box;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.frame{
  
  margin: 10px;
  padding: 20px;
  border: 10px white solid;
}
h2,h3{
  color: white;
}
h3 span{
  text-decoration: underline;
}
button{
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 40px;
  border: none;
  margin-right: 10px;
  padding: 0 6px;
  cursor: pointer;
  
}
.upper button{
  color: rgb(0, 0, 0);
  background-color: rgb(203, 203, 203);
 
}
.all-b button{
  color: rgb(255, 255, 255);
  background-color: rgb(46, 46, 46);
}
#right{
  color: rgb(255, 255, 255);
  background-color: rgb(255, 166, 0);
}
#zero{
  padding-left: 20px;
  text-align: left;
  width: 114px;
}
.screen{
  margin: 10px;
  font-size: 40px;
  color: white;
  width: 230px;
  overflow: auto;
}
